main{
  padding: 0% 8%;

}

.gameCard {
  padding: 1em;
  color: white;
  background-color: rgb(68, 67, 67);
  display: inline-flex;
}

.gameCard img {
    width: 250px;

}

.gameText {
  padding-left: 10px;
  margin-bottom: 10px;
}

.searchBar{
  width: 100%;
  margin-top: 10px;
}

h1{
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-size: 18px;
  font-family: monospace;
}

b{
  font-size: 18px;
  font-family: monospace;
  color: rgb(197, 197, 197);
}

a{
  font-size: 18px;
  font-family: monospace;
  color: rgb(124, 175, 204);
  text-decoration: none;
}

a:hover{
  font-size: 18px;
  font-family: monospace;
  color: rgb(124, 175, 204);
  text-decoration: underline;
}

a:active{
  font-size: 18px;
  font-family: monospace;
  color: white;
  text-decoration: underline;
}

.more{
  margin: 50px;
}

.contactError{
  color: red;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 0;
}

form{
  padding: 1em;
}

input{
  border: 1px solid rgb(197, 197, 197);
  background-color: white);
  color: black;
  margin: 5px;
  padding: 6px;
}

.submitInput:hover{
  background-color: rgb(124, 175, 204);
  color: black;
}
.submitInput:active{
  background-color: rgb(124, 175, 204);
  text-decoration: underline;
}

.messageArea{
  height: 120px;
}

